@tailwind components;
@tailwind utilities;
@import './colors.css';
@import './typography.css';
html{
 margin: 0;
  padding: 0; 
  /* -webkit-text-fill-color: inherit !important; */
}

body{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.gradient-text {
  -webkit-text-fill-color: transparent !important;
}

