h1,
h2,
h3,
h4,
h5 {
  font-family: var(--satoshi);
  margin: 0 !important;
}
p,
span,
a,
button,
li,
th,
td,
time {
  font-family: var(--inter);
  font-weight: 400;
}
p {
  color: #d0d0d0 !important;
  margin: 0 !important;
}
p strong {
  color: #d0d0d0 !important;
}
a strong {
  color: #f0642e !important;
  text-decoration: none !important;
}
/* a, a:visited, a:active {
  color: inherit !important;
} */
a {
  text-decoration: none !important;
}
a:visited {
  /* color: inherit; */
  text-decoration: none;
}
h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
}
h2 {
  font-size: 40px !important;
  font-weight: 400 !important;
  line-height: 48px !important;
  color: white !important;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

h4 {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
}
h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}
p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 96px;
    font-weight: 400;
    line-height: 116px;
  }
  h2 {
    font-size: 48px !important;
    font-weight: 400 !important;
    line-height: 54px !important;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  h4 {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
  }
  h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }
}
/* @media only screen and (max-width: 1536px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 640px) {
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
} */
