.lexicalEditor {
  picture {
    text-align: center;
    img {
      width: 70%;
      height: auto;
      object-fit: contain;
    }
  }

  h1 {
    color: white;
  }
  h2 {
    color: white;
    padding: 20px 0px;
  }
  h3 {
    color: white;
  }
  h4 {
    color: white;
  }
  h5 {
    color: white;
  }
  p {
    color: #d0d0d0;
    font-size: 16px;
    line-height: 24px;
  }
  li {
    color: #d0d0d0;
    font-size: 16px;
    line-height: 24px;
  }
  li strong {
    color: #d0d0d0;
  }
  a {
    font-size: 16px;
    line-height: 24px;
    color: #f0642e;
    text-decoration: underline !important;
  }
  ol li {
    color: white;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    &::marker {
      color: white;
    }
  }
  ol li strong {
    color: #d0d0d0;
  }
  ol li::marker {
    color: #d0d0d0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }
  table tbody {
    border: 0 !important;

    tr {
      th {
        border: 0px solid transparent !important;
        padding: 8px 4px 8px 20px !important;
      }
      th:not(:first-child) {
        border-left: 1px solid #ccc !important;
      }
    }
    tr:first-child {
      border-bottom: 1px solid #ccc;
    }

    tr {
      td {
        border-right: 0px solid transparent !important;
        border-top: 0px solid transparent !important;
        border-bottom: 0px solid transparent !important;
        padding: 8px 4px 8px 20px !important;
      }
    }
  }
}
